$primary: rgb(246, 246, 246);
$secondary: rgb(153, 226, 208);
$padding: 15px;
$shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
$pink-btn: linear-gradient(rgb(156, 89, 220) ,rgb(232, 113, 218) 100%);
$purple-heart:rgb(156, 89, 220);
$pink-heart: rgb(232, 113, 218);
$max-width: 1440px;

